body {
    background: rgb(0,0,0);
    background: linear-gradient(90deg,rgba(0,0,0,1) 0%, 
                                      rgba(47,0,91,1) 30%, 
                                      rgba(17,6,169,1) 69%, 
                                      rgba(0,146,255,1) 81%, 
                                      rgba(9,153,212,1) 86%, 
                                      rgba(0,212,255,1) 99%);
}
#screen {
    color: lightblue;
    font-weight: bolder;
    font-size: xx-large;
}
#header {
    margin-top: 2px;
    color: rgb(220, 0, 220);
    text-align: center;
    text-justify: auto;
    font-size: 85px;
    font-weight: bolder;
}
button {
    height: 80px;
    width: 80px;
    background-color: rgba(255, 255, 255, 0.575);
    border: 0px transparent;
    border-radius: 50%;
    margin: 4px;
    padding: 4px;
}
button:hover {
    opacity: 0.65;
}
div {
    align-items: center;
}
.reset {
    padding: 8px;
}

.reset:hover {
    opacity: 0.8;
}
.fa {
    font-size: 48px;
    color: black; 
}